<a href="https://colab.research.google.com/github/ShanchuanGuo/studycolab/blob/main/svm_decision_boundary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import svm

In [2]:
import numpy as np

In [3]:
clf = svm.SVC(kernel="linear", C=10)

In [14]:
!git clone https://github.com/ShanchuanGuo/studycolab.git

Cloning into 'studycolab'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 11 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (11/11), done.

In [15]:
!ls -R

.:
1  sample_data	studycolab

./1:

./sample_data:
anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

./studycolab:
Xtraining.csv  Ytraining.csv

In [16]:
import pandas as pd

In [17]:
pd.read_csv('./studycolab/Xtraining.csv')

       10.17211637   -8.036664
0        10.172116   -8.036664
1        10.172116   -8.036664
2        10.172116   -8.036664
3        10.172116   -8.036664
4        10.172116   -8.036664
...            ...         ...
31994     4.052250    3.949584
31995     4.052250    3.949584
31996     4.052250    3.949584
31997     4.052250    3.949584
31998     4.052250    3.949584

[31999 rows x 2 columns]

In [19]:
X = pd.read_csv('./studycolab/Xtraining.csv')

In [20]:
print(X)

       10.17211637   -8.036664
0        10.172116   -8.036664
1        10.172116   -8.036664
2        10.172116   -8.036664
3        10.172116   -8.036664
4        10.172116   -8.036664
...            ...         ...
31994     4.052250    3.949584
31995     4.052250    3.949584
31996     4.052250    3.949584
31997     4.052250    3.949584
31998     4.052250    3.949584

[31999 rows x 2 columns]

In [21]:
y = pd.read_csv('./studycolab/Ytraining.csv')

In [23]:
print(y)

       0
0      0
1      0
2      0
3      0
4      0
...   ..
31994  1
31995  1
31996  1
31997  1
31998  1

[31999 rows x 1 columns]

In [25]:
clf.fit(X, y.values.ravel())

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [26]:
for (intercept, coef) in zip(clf.intercept_, clf.coef_):
    s = "y = {0:.3f}".format(intercept)
    for (i, c) in enumerate(coef):
        s += " + {0:.3f} * x{1}".format(c, i)

    print(s)

y = 7.138 + -0.710 * x0 + 0.114 * x1